
*{
    margin: 0;
    padding: 0;
    }


html{
    background: lightgrey;
    background-size: cover;
    background-repeat: no-repeat;
}

body{


    background-image: url(greyY.jpeg);
    width: 80%;
    margin:auto; 
}

main{
    background-image: url(greyY.jpeg);
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section{
    background:lightgray;
    border: 2px solid yellow;
    border-radius: 15px;
    width: 300px;
    margin: 5px;
    padding: 5px;

}

h1{
color: black;
    text-align: center;
    text-shadow: 2px 2px white;
    font-size: 10ch;
    font-family: 'Lugrasimo', cursive;

}

section ul {
    text-indent: 25px;
    list-style-position: inside;
}



#xp{
    background: red;
}

h1{

    text-transform: uppercase;
}

img{
    position: absolute;
    top: 25px;
    left: 25px;

}

h1,h2{
    text-align: center;
    margin: 20px 0;
}

/* *****************    Media queries ******************* */

@media screen and (max-width: 700px){
    img{ position:unset;
        display: block;
        margin:auto;
    }

}

p{
    margin: 20px 0 ;
}



@font-face {
    font-family: 'Lugrasimo', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
}